<%= form_for(@medal) do |f| %>
  <% if @medal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medal.errors.count, "error") %> prohibited this medal from being saved:</h2>

      <ul>
      <% @medal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :athlete_name %><br>
    <%= f.text_field :athlete_name %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :medal_type %><br>
    <%= f.select(:medal_type, [["gold", "gold"], ["silver","silver"], ["bronze", "bronze"]]) %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.datetime_select :event_date, :start_year => 2012, :end_year => 2012 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
